<style id="above-the-fold-styles">
    .content-section {
        padding: 200px 0;
    }

    .content-section--blue {
        background-image: linear-gradient(41deg,#00101a,#02243c 64%);
        border-bottom: 1px solid hsla(0,0%,100%,.15);
        border-top: 1px solid hsla(0,0%,100%,.15);
        box-shadow: 0 6px 3px 0 #000;
    }

    .content-section--gray {
        background-image: linear-gradient(41deg,#00101a,#02243c 64%);
    }

    .content-section-divider {
        /* background-color:  */
    }

    /*
        Colors

        $bird-flower: rgba(223, 174, 0, 1);
        $comet: rgba(99, 105, 117, 1);
        $free-speech-red: rgba(210, 0, 0, 1);
        $link-water: rgba(209, 213, 220, 1);
        $navy-blue: rgba(0, 113, 193, 1);
        $watercourse: rgba(0, 107, 72, 1);
    */

    /* body {
        background-color: rgb(99, 105, 117);
        background-color: #fff;
        color: rgba(209, 213, 220, 1);
        color: black;
        margin: 0;
    } */



    /* .contact,
    .header__content,
    .intro,
    .projects-map {
        margin: 0 auto;
        max-width: 1100px;
    }

    .header {
        border-bottom: 1px solid rgb(99, 105, 117);
    }

    .header__content {
        align-items: center;
        display: flex;
        height: 100px;
        justify-content: space-between;
    }

    .header__logo {
        height: 40px;
        transform: rotate(-45deg);
        width: 40px;
    }

    .intro {
        margin: 200px auto;
    }
    */
    .hide {
        display: none;
    }

    .projects-map__button-group {
        margin: 0 auto;
        max-width: 1100px;
        padding: 0;
    }

    .projects-map__button-group li {
        color: black;
        display: inline;
        list-style-type: none;
        margin-right: 20px;
    }

    .projects-map__projects-list {
        margin: 100px auto;
        max-width: 1100px;
        padding: 0;
    }

    .projects-map__project:not(.hide)::after {
        content: '';
        flex: auto;
    }

    .projects-map__project img {
        border-radius: 3px;
        box-shadow: 3px 3px 3px 0 #000;
        max-width: 100%;
    }

    .projects-map__project--desktop {
        border: 3px solid rgba(223, 174, 0, 1);
    }

    .projects-map__project--mobile {
        border: 3px solid yellow;
    }

    .projects-map__project--open-source {
        border: 3px solid rgba(0, 107, 72, 1);
    }

    .projects-map__project--site {
        border: 3px solid rgba(0, 113, 193, 1);
    }

    .projects-map__project--web-app {
        border: 3px solid rgb(131, 2, 99);
    }

    .project-type-button {
        background-color: rgba(0, 0, 0, 0);
        border-radius: 3px;
        box-shadow: 3px 3px 3px 0 #000;
        color: #f2f2f2;
        font-family: 'Passion One', cursive;
        font-size: 18px;
        letter-spacing: 0.05rem;
        padding: 10px 20px;
        transition: 0.3s ease;
    }

    .project-type-button--active {
        box-shadow: 1px 1px 1px 0 #000;
    }

    /*
        Colors

        $bird-flower: rgba(223, 174, 0, 1);
        $comet: rgba(99, 105, 117, 1);
        $free-speech-red: rgba(210, 0, 0, 1);
        $link-water: rgba(209, 213, 220, 1);
        $navy-blue: rgba(0, 113, 193, 1);
        $watercourse: rgba(0, 107, 72, 1);
    */

    .project-type-button--yellow {
        background-color: rgba(255, 255, 0, 0.2);
        border: 3px solid yellow;
    }

    .project-type-button--yellow:hover {
        background-color: rgba(255, 255, 0, 0.5);
    }

    .project-type-button--blue {
        background-color: rgba(0, 113, 193, 0.2);
        border: 3px solid rgba(0, 113, 193, 1);
    }

    .project-type-button--blue:hover {
        background-color: rgba(0, 113, 193, 0.5)
    }

    .project-type-button--red {
        background-color: rgba(210, 0, 0, 0.2);
        border: 3px solid rgba(210, 0, 0, 1);
    }

    .project-type-button--red:hover {
        background-color: rgba(210, 0, 0, 0.5);
    }

    .project-type-button--orange {
        background-color: rgba(223, 174, 0, 0.2);
        border: 3px solid rgba(223, 174, 0, 1);
    }

    .project-type-button--orange:hover {
        background-color: rgba(223, 174, 0, 0.5);
    }

    .project-type-button--green {
        background-color: rgba(0, 107, 72, 0.2);
        border: 3px solid rgba(0, 107, 72, 1);
    }

    .project-type-button--green:hover {
        background-color: rgba(0, 107, 72, 0.5);
    }

    .project-type-button--magenta {
        background-color: rgba(131, 2, 99, 0.2);
        border: 3px solid rgb(131, 2, 99);
    }

    .project-type-button--magenta:hover {
        background-color: rgba(131, 2, 99, 0.5);
    }


    .projects-map__projects-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
    }

    .projects-map__project {
        flex: 1 0 21%;
        list-style-type: none;
        margin-bottom: 50px;
        max-width: 22%;
    }
</style>