<section id="case-studies" class="case-studies">
    <!--
        Full width dark background
        single case study with clickable link
     -->
     <div class="case-studies__case-study">
        <h3>
            <span>Website showing map of some place</span>
            <span>Website</span>
            <hr>
            <p>Short description of app or site</p>
            <a>View Project</a>
        </h3>
    </div>
    <div class="case-studies__case-study">
        <h3>
            <span>Uptime web app</span>
            <span>Web App</span>
            <hr>
            <p>Short description of app or site</p>
            <a>View Project</a>
        </h3>
    </div>
    <div class="case-studies__case-study">
        <h3>
            <span>Electron App</span>
            <span>App</span>
            <hr>
            <p>Short description of app or site</p>
            <a>View Project</a>
        </h3>
    </div>
</section>