<!-- <header id="header" class="header">
    <div class="header__content">
        <svg class="header__logo" id="mosaic-logo" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320.23 320.23">
            <defs>
                <style>
                    .yellow-fill {
                        fill: #ffcf45;
                    }
                    .red-fill {
                        fill: #f04c4e;
                    }
                </style>
            </defs>
            <title>MM_LOGO-12</title>
            <rect class="yellow-fill" x="256.18" width="64.05" height="64.05"/>
            <polygon class="yellow-fill" points="0 128.09 0 192.14 0 256.19 0 320.23 64.05 320.23 128.09 320.23 192.14 320.23 192.14 256.19 128.09 256.19 64.05 256.19 64.05 192.14 64.05 128.09 0 128.09"/>
            <polygon class="red-fill" points="0 0 0 64.05 64.05 64.05 128.09 64.05 128.09 128.09 128.09 192.14 192.14 192.14 256.18 192.14 256.18 256.18 256.18 320.23 320.23 320.23 320.23 128.09 256.18 128.09 192.14 128.09 192.14 64.05 192.14 0 0 0"/>
        </svg>
        <a
            class="header__contact-section-anchor"
            href="#contact">Contact</a>
    </div>
</header> -->