<header id="header" class="header">
    <h1 class="header__mosaic">Mosaic</h1>
    <nav class="header__navigation navigation">
        <ul class="navigation__list">
            <li>
                <a href="">About</a>
            </li>
            <li>
                <a href="">Offerings</a>
            </li>
            <li>
                <a href="">Case Studies</a>
            </li>
            <li>
                <a href="">Team</a>
            </li>
            <li>
                <a href="">Open Source</a>
            </li>
            <li>
                <a href="">Contact</a>
            </li>
        </ul>
    </nav>
</header>