<main class="main-content" id="main-content">
    <section class="intro" id="intro">
        <p>Lorem ipsum dolor sit amet, feugiat tempor nonummy mauris, libero in pretium porttitor ipsum odio semper. Donec viverra massa lacinia velit mauris, libero et libero vestibulum vivamus, nunc curae ut blandit rhoncus libero, sapien tincidunt eget purus, at placerat ac justo varius.</p>
        <p>Vulputate sapien, ultricies justo, odio wisi lacus, elementum condimentum donec, wisi mi blandit et aut.</p>
        <p>Justo nullam fames ut leo, enim vel vitae est lorem, nullam sit et suscipit mi mauris, quis mattis ut adipiscing dui at condimentum. Eget ultrices consectetuer dui egestas, praesent in sagittis vestibulum wisi vestibulum iaculis, tristique porta diam pulvinar donec massa ante, metus consequat.</p>
    </section>
    <section class="projects-map" id="projects-map">

    </section>
    <section class="contact" id="contact">
        If you're like to work together, send an email to hello [ at ] mosaicmusic.io.
    </section>
</main>