a {
    text-decoration: none;
    position: relative;
    transition: $transition;
}

a:after {
    background-color: $body-font-color;
    bottom: 0px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    transition: $transition;
    width: 0;
}

a:hover:after {
    width: 99%;
}

a,
a:hover,
body {
    color: $body-font-color;
    font-family: $font-stack;
    font-weight: $font-weight-light;
    line-height: 1.8;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

h2 {
    font-family: $font-stack-monospace;
    font-size: 140px;
    font-weight: $font-weight-bold;
    line-height: 140px;
    margin-left: -10px;
}

h3 {
    font-size: 32px;
    line-height: 45px;
}

@media (max-width: 860px) {
    h2 {
        font-size: 80px;
        max-width: 100%;
    }
}