// Animations
$transition: all 0.3s ease-in-out;

// Colors
// Color names
$black-pearl: #111;

// Color uses
$body-font-color: $black-pearl;

// Fonts
$font-stack: 'Heebo', Arial, Helvetica, sans-serif;