.contact {
    margin-top: 200px;

    &__logo-wrapper {
        margin-left: 2%;
    }
    &__logo {
        margin: 25px 10px 5px 0;
        width: 80px;
    }

    dd {
        margin: 10px 0 0;

        ul {
            list-style-type: none;

            li {
                display: inline-block;

                &:not(:first-child) {
                    margin-left: 20px;
                }
            }
        }
    }
    dt {
        color: $grey;
        font-size: 12px;
        margin-top: 40px;
    }
    h3 {
        margin-top: 90px;
    }
}

@media (max-width: 860px) {
    .contact {
        &__logo {
            display: block;
            margin: 0 auto 100px;
            width: 30px;
        }
    }
}