.navigation {
    font-size: 16px;
    left: 0;
    padding-top: 30px;
    position: fixed;
    right: 0;
    top: 0;

    &__list {
        text-align: right;

        li {
            display: inline-block;
            list-style-type: none;

            a {
                text-decoration: none;
            }

            &:not(:first-child) {
                margin-left: 50px;
            }
        }
    }
}