/* Colors */
$bird-flower: rgba(223, 174, 0, 1);
$comet: rgba(99, 105, 117, 1);
$free-speech-red: rgba(210, 0, 0, 1);
$link-water: rgba(209, 213, 220, 1);
$navy-blue: rgba(0, 113, 193, 1);
$watercourse: rgba(0, 107, 72, 1);

/* Font Size */
$root-font-size: 10px;
