/* Colors */
$charcoal: #36454f; /* text */
$chili: #af473c; /* pop */
$herb: #626e60; /* bg changes */
$rose-gold: #e2dcdd;
$terracota: #945d60; /* hover/fx */
$white: #fff;
$white-smoke: #f2f2f2;

/* Font Size */
$root-font-size: 10px;
$font-size-small: 1.4rem;
$font-size-normal: 1.6rem;

/* Font Stack */
// $body-font-family: ;
$logo-font-family: 'Cormorant Garamond', serif;

/* Font Weight */
$font-weight-normal: 400;
$font-weight-bold: 700;

/* Margin */

/* Width */
$container-width: 1000px;